<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.proyectodamdaw">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- Siempre, localiazcion más o menos buena  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- Solo cuando necesitamos una ubicaicon precisa   -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_cloud_circle_24"
        android:label="EL TIEMPO :)"
        android:roundIcon="@drawable/ic_baseline_cloud_circle_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDamDaw"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.AddCity"
            android:exported="false"
            android:label=""/>
        <activity
            android:name=".activities.PreferenciasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChooseCity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VistaExtendida"
            android:label="Detalles"
            android:theme="@style/Theme.ProyectoDamDaw"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="EL TIEMPO EN:"></activity>
    </application>

</manifest>